<<<<<<< HEAD


<h2>hello world </h2>
{{ "me.jpg":asset_url }}
=======
<h2>السلام عليكم </h2>

>>>>>>> 8845511cece49169d7f5d07109c24edd67793c63
${%schema %}
{
    "name":"banner section",
    "settings":[],
    "presets":[
        {"name":"Banner Section"}
    ]
}
{% endschema %}