<h2 style="color:yellow">hello world</h2>
<p class="text">this is me</p>
<img class="me" src="{{'me2.jpg'| asset_url }}"/>


{% schema %}
{
  "name": "banner section",
  "settings": [],
  "presets": [{ "name": "Banner Section" }]
}
{% endschema %}
