<h2>hello world</h2>
<p>this is me</p>
<img width="200px" height="200px" src="{{'me.JPG'| asset_url }}"/>


{% schema %}
{
  "name": "banner section",
  "settings": [],
  "presets": [{ "name": "Banner Section" }]
}
{% endschema %}
