<h2>hello world </h2>
<p>this is me</p>
<img width="100px" height="200px" src="{{'me.jpg'| asset_img_url : 'size' | img_tag }}"/>
${%schema %}
{
    "name":"banner section",
    "settings":[],
    "presets":[
        {"name":"Banner Section"}
    ]
}
{% endschema %}